#cloud-config
# vim: syntax=yaml
#
# ***********************
#	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: vladimircamacho
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCiMRPP4Q9hReteWMV06n13sRiDefM1nYY7bqnrpusS1oRvfOgmnT8mf1fLz0v8DIT8JWPxrXMP+Q8lwV5xsLjQ+v7HsgrDUytuqqOa4OM3jawz2Ayt+iY+jc8DDGi4l8mIuzJOI8HM1ILvoYKI5VAMjo2vrCZz54+9tyTSb1ASy2bLyKA0n+ur61ZMCbVy7YVz+mp7teLq9F3XE12QvIcN+Y+ts7AYVpuwZ+4/rxXS29vgZBHfNQlCD/eosDMgihNskpB4Pz5qQWVOzLxXW+zXz4lWbJpv0e/yfwIfjSPOJ7mqDJBygao1+OsmPpUu9Gk+dGuUsWPwmA5419/vTMBB vladimircamacho@ubuntu
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
    lock_passwd: false
